# Environment variables for {{ item.name }} stack
{% if item.env_vars is defined %}
{% for key, value in item.env_vars.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}

# Common variables
TZ={{ timezone }}
PUID=1000
PGID=1000
